body {
    font-family: 'Open Sans', sans-serif;
}

#section-1 {
    height: 600px;
    background-image: url(images/donation6.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

p {
    font-size: 25px;
    font-weight: 300;
    font-style: bold;
    text-align: center;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 0;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 57, 88), tomato);
    color: white;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 5px;
}


.our-donate-plan {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}

#select-tk {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: auto;
}

#select-tk h2 {
    height: 50px;
    width: 60px;
    color: gray;
    text-align: center;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 10px;
    ;
}

#pointed {
    border: 4px solid #FF9090;
    background-color: #FFEEEE;
}

#food-for-family {
    background-color: #EDF5F6;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    padding-top: 25px;
}

#shelter-for-family {
    background-color: #FFEEEE;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    padding-top: 25px;

}

#education-for-child {

    background-color: #FFF4D6;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    padding-top: 25px;
}

img {
    max-width: 90%;
    height: auto;
}

section {
    padding: 0% 5% 5% 5%;
}

#get-update {
    text-align: center;
}

#get-update h2 {
    font-size: px;
    font-weight: bolder;
    font-style: bold;
}

#email-box {
    width: 40%;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #FFF4D6;
    border: #FF9090;
    border-width: 3px;
    border-radius: 5px;
}

#email-field {
    background-color: gray;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-right: 0;
}