body {
    font-family: 'Open Sans', sans-serif;
}

#section-1 {
    height: 600px;
    background-image: url(images/donation6.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

p {
    font-size: 25px;
    font-weight: 300;
    font-style: bold;
    text-align: center;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 0;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 57, 88), tomato);
    color: white;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 5px;
}

.our-donate-plan {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}

#food-for-family {
    background-color: #EDF5F6;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    padding-top: 10px;
}

#shelter-for-family {
    background-color: #FFEEEE;
}

#education-for-child {

    background-color: #FFF4D6;
}

img {
    max-width: 90%;
    height: auto;
}

section {
    padding: 0% 5% 5% 5%;
}